<form>
    <div class="form-group">
        <label for="userName"><b>User Name</b></label>
        <br>
        <input id="userName" type="text" class="form-control" placeholder="Enter UserName">
    </div>
    <div class="form-group">
        <label for="password"><b>Password</b></label>
        <br>
        <input id="password" type="password" cols="30" rows="10" class="form-control" placeholder="Enter Password">
    </div>
    <br>
    <button class="btn btn-primary"><b>Log In</b></button>
</form>