.todo {
	display: flex;
	padding: 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
    /* margin: 50px; */
}

.todo .id {
	flex: 1 1 50px;
}

.todo .content {
	flex: 1 1 100%;
}

.todo.done .content {
	text-decoration: line-through;
}

.todo-input {
	width: 80%;;
	padding: 10px;
	border-color: black;
	background-color: #F3F3F3;
	margin: 30px;
}

.todo-submit {
    border-radius: 10px;
	background-color: green;
	padding: 10px 15px;

}

.delete{
	background-color: red;
	padding: 5px;
	border-radius: 10px;
	color: white;
}